<!-- <app-navbar></app-navbar> -->


<div class="container-fluid" style="max-width: 1700px;padding-left: 50px;padding-right: 50px;">
  <app-pagetitle title="DSC Inventory" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div >


<mat-divider></mat-divider>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!--TopBar-->
        <div class="row mb-md-2">

        <!--Status-->
        <div class="col-xl-3">
          <div class="card">
            <div class="card-body">
              <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
      
                <li (click)="StatusFilterClicked('All')" [ngbNavItem]="1">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">All</span>
                  </a>
                </li>
      
                <li (click)="StatusFilterClicked('active')" [ngbNavItem]="2">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">Active</span>
                  </a>
                </li>
      
                <li (click)="StatusFilterClicked('inactive')" [ngbNavItem]="3">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">Inactive</span>
                  </a>
                </li>
      
              </ul>
              
            </div>
          </div>
          
        </div>
        <!--Status End-->
        
      <!--Stock Filter-->
        <div class="col-xl-3">
          <div class="card">
            <div class="card-body">
              <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
      
                <li (click)="StockFilterClicked('All')" [ngbNavItem]="1">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">All</span>
                  </a>
                </li>
      
                <li (click)="StockFilterClicked('InStock')" [ngbNavItem]="2">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">InStock</span>
                  </a>
                </li>
      
                <li (click)="StockFilterClicked('OutOfStock')" [ngbNavItem]="3">
                  <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">OOS</span>
                  </a>
                </li>
      
              </ul>

            </div>
          </div>
        </div>
        <!--Stock Filter End-->
      
      <!--Search Input and Store Selecter-->
          <form class="col-lg-4" #f="ngForm" (ngSubmit)="findSku(f.value)">
          
              <mat-form-field class="col-lg-6" appearance="outline">
                <mat-label>Seller Sku</mat-label>
                <input type="text" name="SellerSku" ngModel matInput placeholder="Ex. ABCD">
              </mat-form-field>
              
              <mat-form-field class="col-lg-6" appearance="outline">
                <mat-label>Shop Sku</mat-label>
                <input name="ShopSku" ngModel matInput placeholder="Ex. 1078646_PK_8789123">
              </mat-form-field>
              <button type="submit" style="display: none;"></button>
              
              </form>
            
              <mat-form-field class="col-lg-2" appearance="outline" >
                <mat-label>Select Store</mat-label>
                <mat-select [(ngModel)]="Store" (selectionChange)="StoreSelected($event)">
                  <mat-option value="All">All</mat-option>
                  <mat-option *ngFor="let store of StoreArray" [value]="store._id">{{store._id}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!--Search Input and Store Selecter END-->
        </div>
        <!--End of TopBar-->

        <!--Loading Indicator-->
        <div class="row">
          <div *ngIf="loadingIndicator" class="col-md-12">
            <ngb-progressbar height="6px" [value]="loadingIndicatorValue" type="info"></ngb-progressbar>
          </div>
        </div>
        <!--Loading Indicator End-->

        <!-- Table -->
        <div class="table-responsive">
          <table id="basic-datatable"
            class="table table-centered dt-responsive nowrap  no-footer dtr-inline" matSort (matSortChange)="sortData($event)">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Product</th>
                <th mat-sort-header="SellerSku">Seller SKU</th>
                <th>Shop SKU</th>
                <th mat-sort-header="quantity">Total Stock</th>
                <th mat-sort-header="multiWarehouseInventories.quantity">FBM Stock</th>
                <th mat-sort-header="fblWarehouseInventories.quantity">FBD Stock</th>
                <th *ngIf="userPermissions?.DSCInventoryCost?.value"  mat-sort-header="cost">Cost</th>
                <th>Shop</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let sku of sortedData;let rowIndex=index">
                <td>
                  <a class="text-dark font-weight-bold">
                    <ngb-highlight [result]="pIndex*pSize+rowIndex+1" [term]="searchTerm"></ngb-highlight>
                  </a>
                </td>
                <td>
                  <img src="{{sku.Images[0]}}" height="70px" width="70px">  
                </td>
                <td>
                  <a href="{{sku.Url}}" target="_blank"><ngb-highlight [result]="sku.SellerSku" [term]="searchTerm"></ngb-highlight></a>
                </td>
                <td>
                  <ngb-highlight [result]="sku.ShopSku" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="sku.quantity" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="sku.multiWarehouseInventories.quantity" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="sku.fblWarehouseInventories.quantity" [term]="searchTerm"></ngb-highlight>
                </td>
                <td *ngIf="userPermissions?.DSCInventoryCost?.value">

                  <ngb-highlight [result]="sku.cost" [term]="searchTerm"></ngb-highlight>

                  <ng-template #popContent>

                    <div class="row">

                    <mat-form-field class="col-md-12" appearance="outline">
                      <mat-label>Cost</mat-label>
                      <input type="number" name="Cost" [(ngModel)]="sku.cost" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-12" appearance="outline">
                      <mat-label>FBM Packging Cost</mat-label>
                      <input type="number" name="FBM Packging Cost" [(ngModel)]="sku.FBMpackagingCost" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-12" appearance="outline">
                      <mat-label>FBD Packaging Cost</mat-label>
                      <input type="number" name="FBD Packaging Cost" [(ngModel)]="sku.FBDpackagingCost" matInput>
                    </mat-form-field>

                    
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center d-flex justify-content-center">
                        <button *ngIf="!costSavingIndiactor" (click)="EditCost(p,sku)" mat-raised-button color="primary">Save</button>
                        <mat-spinner *ngIf="costSavingIndiactor"  [diameter]="30"></mat-spinner>
                      </div>
                    </div>

                  </ng-template>

                  <a class="mr-3 text-primary" #p="ngbPopover" [ngbPopover]="popContent" [animation]="'true'" [autoClose]="'outside'"><i class="mdi mdi-pencil font-size-18"></i></a>

                </td>
                <td>
                  <ngb-highlight [result]="sku.ShopId" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': sku.Status === 'inactive',
                  'badge-soft-success':sku.Status === 'active'}">
                    <ngb-highlight [result]="sku.Status" [term]="searchTerm"></ngb-highlight>
                  </div>
                </td>
                <td>

                  <a (click)="DeleteSku(sku)" class="text-danger" placement="top" ngbTooltip="Delete"><i
                      class="mdi mdi-trash-can font-size-18"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-5">

            <div class="dataTables_length" id="tickets-table_length"><label
              class="d-inline-flex align-items-center">Show
              <select (change)="changePageSize()" name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                [(ngModel)]="pSize"
                class="custom-select custom-select-sm form-control form-control-sm mx-2">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select> entries</label></div>
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-right pagination-rounded">
              <ngb-pagination (pageChange)="changePage($event)" [collectionSize]="length" [page]="pIndex+1" [pageSize]="pSize">
              </ngb-pagination>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>

</div>
