<mat-form-field class="col-12 font-size-12" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input disabled [formControl]="control==null ? null : control" type="isNumber ? number : text" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" matInput placeholder="{{placeHolder}}">
    <mat-error *ngIf="control?.touched && control?.errors?.required">Required</mat-error>
    <mat-error *ngIf="control?.touched && control?.errors?.notUnique">Already Exists</mat-error>
    <mat-error *ngIf="control?.touched && control?.errors?.custom">{{control?.errors?.custom}}</mat-error>
</mat-form-field>