.verticalspace{
    margin-top:10px;
    margin-bottom:10px;
}

.sidemargin{
    margin-left:75px;
    margin-right:75px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.paginator{
    margin-left:150px;
    margin-right: 150px;
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(20vh - 20px);
  }
  .inner {
    padding: 12px;
  }