.example-form-field {
    width: 40%;
    margin-top: 10px;
    margin-right: 5px;
    flex:0
  }
.center{
  align-items: center;
  /* flex: none; */
  flex-wrap: nowrap;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}