.example-form-field {
    width: 75%;
    margin-top: 20px;
    flex:0
  }
.center{
  align-items: center;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}