



    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" ><i class="fa fa-globe"></i>&nbsp;DZMng</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a routerLink="/" class="nav-link active" style="color:#ffffff;"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item" role="presentation"><a routerLink="/orders" class="nav-link active" style="color:#ffffff;"><i class="fa fa-wpexplorer"></i>&nbsp;Orders</a></li>
                        <li class="nav-item" role="presentation"><a routerLink="/darazids" class="nav-link active" style="color:#ffffff;"><i class="fa fa-wpexplorer"></i>&nbsp;Add Api</a></li>
                        <li class="nav-item" role="presentation"><a routerLink="/returns" class="nav-link active" style="color: #ffffff;"><i class="fa fa-wpexplorer"></i>Returns</a></li>
                        <li class="nav-item" role="presentation"><a routerLink="/dispatch" class="nav-link active" style="color: #ffffff;"><i class="fa fa-wpexplorer"></i>Dispatch</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;"><i class="fa fa-sign-in"></i>&nbsp;Log out</a></li>

                    </ul>
            </div>
    </div>
    </nav>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



