<app-navbar></app-navbar>

<mat-divider class="topdivider"></mat-divider>
<div class="topnav">
  
  <form #f="ngForm" (ngSubmit)="findOrder(f)">
    
  <mat-form-field appearance="fill">
    <mat-label>Order Id</mat-label>
    <input type="number" name="OrderId" ngModel matInput placeholder="Ex. 10110254789879">
  </mat-form-field>
  
  <mat-form-field style="margin-left: 10px;" appearance="fill">
    <mat-label>Tracking No</mat-label>
    <input name="Tracking" ngModel matInput placeholder="Ex. PK-DEX02132141">
  </mat-form-field>
  <button type="submit" style="display: none;"></button>
  <!-- <button type="submit">Search</button> -->
  </form>

  <mat-form-field appearance="fill" style="margin-left: 10px;">
    <mat-label>Select Store</mat-label>
    <mat-select [(ngModel)]="Store" (selectionChange)="StoreSelected($event)">
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let store of StoreArray" [value]="store._id">{{store._id}}</mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
      <mat-label>Select Fulfillment</mat-label>
      <mat-select [(ngModel)]="Fulfillment" (selectionChange)="FulfillmentSelected($event)">
        <mat-option value="All">All</mat-option>
        <mat-option value="Dropshipping">FBM</mat-option>
        <mat-option value="Own Warehouse">FBD</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" >
        <input [(ngModel)]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
        <input [(ngModel)]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    <div style="margin-left: 10px; margin-top: 15px;">
      <mat-slide-toggle
          class="example-margin"
          color="primary"
          [checked]="false"
          (change)=orderSort($event)>
        SKU Sorting
      </mat-slide-toggle>
    </div>

	


    

</div>
<mat-divider class="topdivider"></mat-divider>

<div class="secondnav">
  <mat-button-toggle-group name="fontStyle" [value]="StatusFilter" aria-label="Font Style">
    <mat-button-toggle value="All" (click)="StatusFilterClicked('All')">All Orders</mat-button-toggle>
    <mat-button-toggle value="pending" (click)="StatusFilterClicked('pending')">Pending</mat-button-toggle>
    <mat-button-toggle value="ready_to_ship" (click)="StatusFilterClicked('ready_to_ship')">RTS</mat-button-toggle>
    <mat-button-toggle value="RTSDispatched" (click)="StatusFilterClicked('RTSDispatched')">RTS-Dispatched</mat-button-toggle>
    <mat-button-toggle value="shipped" (click)="StatusFilterClicked('shipped')">Shipped</mat-button-toggle>
    <mat-button-toggle value="delivered" (click)="StatusFilterClicked('delivered')">Delivered</mat-button-toggle>
    <mat-button-toggle value="delivery failed" (click)="StatusFilterClicked('delivery failed')">Delivery Failed</mat-button-toggle>
    <mat-button-toggle value="returned" (click)="StatusFilterClicked('returned')">Returned</mat-button-toggle>
    <mat-button-toggle value="DeliveryFailedReceived" (click)="StatusFilterClicked('DeliveryFailedReceived')">Delivery Failed-Received</mat-button-toggle>
    <mat-button-toggle value="Claimable" (click)="StatusFilterClicked('Claimable')">Claimable</mat-button-toggle>
    <mat-button-toggle value="ClaimFiled" (click)="StatusFilterClicked('ClaimFiled')">Claim Filed</mat-button-toggle>
    <mat-button-toggle value="ClaimReceived" (click)="StatusFilterClicked('ClaimReceived')">Claim Received</mat-button-toggle>
    <mat-button-toggle value="canceled" (click)="StatusFilterClicked('canceled')">Cancelled</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-divider class="topdivider"></mat-divider>

<div class="paginator">

  <button  mat-stroked-button color="primary" [matMenuTriggerFor]="printMenu">Print</button>
  <mat-menu #printMenu="matMenu">
    <button (click)="printLabels()"  mat-menu-item>Print Labels</button>
  </mat-menu>

  <button style="margin-left: 10px;" mat-raised-button color="primary" [matMenuTriggerFor]="statusMenu">Set Warehouse Status</button>
  <mat-menu #statusMenu="matMenu">
    <button (click)="UpdateStatus('Dispatched')" mat-menu-item>Dispatched</button>
    <button (click)="UpdateStatus('Received')" mat-menu-item>Received</button>
    <button (click)="UpdateStatus('Claim Filed')" mat-menu-item>Claim Filed</button>
    <button (click)="UpdateStatus('Claim Approved')" mat-menu-item>Claim Approved</button>
    <button (click)="UpdateStatus('Claim Rejected')" mat-menu-item>Claim Rejected</button>
    <button (click)="UpdateStatus('Claim POD Dispute')" mat-menu-item>Claim POD Dispute</button>
    <button (click)="UpdateStatus('Claim Received')" mat-menu-item>Claim Received</button>
  </mat-menu>

  <button style="margin-left: 50px;" mat-stroked-button color="primary" [matMenuTriggerFor]="darazStatusMenu">Set Daraz Status</button>
  <mat-menu #darazStatusMenu="matMenu">
    <button (click)="setStatusToRTS()"  mat-menu-item>Set to RTS</button>
  </mat-menu>

</div>
<mat-divider class="topdivider"></mat-divider>

<div class="datatable">
<ngx-datatable
#table
style="width:auto"
class="material expandable"
[loadingIndicator]="loadingIndicator"
[rows]="orders"
[columnMode]="ColumnMode.force"
[headerHeight]="50"
[footerHeight]="50"
rowHeight="auto"
[selected]="selected"
[selectionType]="SelectionType.checkbox"
[selectAllRowsOnPage]="true"
(activate)="onActivate($event)"
(select)="onSelect($event)"
>
<!-- Row Detail Template -->
<ngx-datatable-row-detail [rowHeight]="450" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <mat-divider style="margin:10px;"></mat-divider>
      <div style="margin:40px; overflow-y:scroll; height: 350px;">
      <table>
        <tr>
          <th>S.No</th>
          <th>Consignee</th>
          <th>Seller SKU</th>
          <th>Product</th>
          <th>Tracking</th>
          <th>Image</th>
          <th>Shipping Type</th>
          <th>WarehouseStatus</th>
          <th>Status</th>
          <th>Printed</th>
        </tr>
        <tr *ngFor="let item of row.OrderItems; index as i">
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{i+1}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{row.AddressBilling.FirstName}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.BaseSku}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.Name}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.TrackingCode}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'"><img width="70px" height="70px" src={{item.productMainImage}}></td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.ShippingType}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.WarehouseStatus}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.Status}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'"></td>
        </tr>
      </table>
    </div>
    <mat-divider style="margin:10px;"></mat-divider>



    </ng-template>
  </ngx-datatable-row-detail>






<ngx-datatable-column
[width]="30"
[sortable]="false"
[canAutoResize]="false"
[draggable]="false"
[resizeable]="false"
[headerCheckboxable]="true"
[checkboxable]="true"
>

<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <div
      href="javascript:void(0)"
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)"
    >
    </div>
  </ng-template>

</ngx-datatable-column>
<ngx-datatable-column name="S.No" [width]="5">
  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
    <div >{{pIndex*pSize+rowIndex+1}}</div>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [width]="80" name="Order" prop="OrderId" ></ngx-datatable-column>
<!-- <ngx-datatable-column name="Item ID" prop="OrderItemId"></ngx-datatable-column> -->
<ngx-datatable-column [width]="70" name="Order Date" prop="CreatedAt">
  <ng-template let-row="row" let-date="value" ngx-datatable-cell-template>
    {{ date | date}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [width]="100" name="Payment Method" prop="PaymentMethod"></ngx-datatable-column>
<ngx-datatable-column [width]="40" name="Price" prop="OrderItems">
  <ng-template let-row="row" let-orderitems="value" ngx-datatable-cell-template>
    {{getPrice(orderitems)}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [width]="30" name="#" prop="ItemsCount"></ngx-datatable-column>
<ngx-datatable-column [width]="55" name="Status" prop="OrderItems">
  <ng-template let-row="row" let-orderitems="value" ngx-datatable-cell-template>
    {{getOrderStatus(orderitems)}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Shop ID" prop="ShopId" [width]="140"></ngx-datatable-column>
<ngx-datatable-column name="Printed?" prop="isPrinted" [width]="10">
  <ng-template let-row="row" let-isPrinted="value" ngx-datatable-cell-template>
    <div *ngIf='isPrinted'>Yes</div>
    <div *ngIf='!isPrinted'>No</div>
  </ng-template>
</ngx-datatable-column>


</ngx-datatable>
</div>

<div class="paginator">
  <mat-paginator
  [length]="length"
  [pageSizeOptions]="[10, 20, 50, 100]"
  [pageIndex]="pIndex"
  [pageSize]="pSize"
  (page)="changePageData($event)">
  </mat-paginator>
</div>

<!-- <div class="selected-column">
	<h4>
	  Selections <small>({{ selected?.length }})</small>
	</h4>
	<ul>
	  <li *ngFor="let sel of selected">
		{{ sel.OrderId }}
	  </li>
	  <li *ngIf="!selected?.length">No Selections</li>
	</ul>
  </div> -->
