


	<app-navbar></app-navbar>

    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;">
            <div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
					class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
						<li>
						<button class="button" mat-button [matMenuTriggerFor]="menu">Set Status</button>
						<mat-menu #menu="matMenu">
						  <button (click)="UpdateStatus('Dispatched')" mat-menu-item>Dispatched</button>
						  <button (click)="UpdateStatus('Received')" mat-menu-item>Received</button>
						  <button (click)="UpdateStatus('Claim Filed')" mat-menu-item>Claim Filed</button>
						  <button (click)="UpdateStatus('Claim Approved')" mat-menu-item>Claim Approved</button>
						  <button (click)="UpdateStatus('Claim Rejected')" mat-menu-item>Claim Rejected</button>
						  <button (click)="UpdateStatus('Claim POD Dispute')" mat-menu-item>Claim POD Dispute</button>
						  <button (click)="UpdateStatus('Claim Received')" mat-menu-item>Claim Received</button>
						</mat-menu>
						</li>
						<li>
							<mat-form-field appearance="fill">
								<mat-label>Select Store</mat-label>
								<mat-select [(ngModel)]="Store" (selectionChange)="StoreSelected($event)">
									<mat-option value="All">All</mat-option>
									<mat-option *ngFor="let store of StoreArray" [value]="store">{{store}}</mat-option>
								</mat-select>
							  </mat-form-field>							
						</li>
						<li>
							<mat-form-field appearance="fill">
								<mat-label>Select Fulfillment</mat-label>
								<mat-select [(ngModel)]="Fulfillment" (selectionChange)="FulfillmentSelected($event)">
								  <mat-option value="All">All</mat-option>
								  <mat-option value="Dropshipping">FBM</mat-option>
								  <mat-option value="Own Warehouse">FBD</mat-option>
								</mat-select>
							  </mat-form-field>							
						</li>


                    </ul>
            </div>
    </div>
    </nav>
    </div>

	<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;">
		<div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			<div
				class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
					<!-- <li class="nav-item" role="presentation"><mat-slide-toggle style="padding-top: 9px;" [(ngModel)]="isFbd">FBD: {{isFbd}}</mat-slide-toggle></li> -->
					<li class="nav-item" role="presentation"><button (click)="Filter('all')" class="nav-link active" style="color: #000000;">All Orders |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('pending')" class="nav-link active" style="color: #000000;">Pending |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('ready_to_ship')" class="nav-link active" style="color: #000000;">RTS |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('ready_to_ship-dispatched')" class="nav-link active" style="color: #000000;">RTS-Dispatched |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('shipped')" class="nav-link active" style="color: #000000;">Shipped |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('delivered')" class="nav-link active" style="color: #000000;">Delivered |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('failed')" class="nav-link active" style="color: #000000;">Delivery Failed |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('failed-received')" class="nav-link active" style="color: #000000;">Delivery Failed-Received |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('claimable')" class="nav-link active" style="color: #000000;">Claimable |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('Claim Filed')" class="nav-link active" style="color: #000000;">Claim Filed |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('Claim Received')" class="nav-link active" style="color: #000000;">Claim Received |</button></li>
					<li class="nav-item" role="presentation"><button (click)="Filter('canceled')" class="nav-link active" style="color: #000000;">Cancelled</button></li>
				</ul>
            </div>
    </div>
    </nav>

<div>

		<input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      />

	<ngx-datatable
	#table
	style="width:auto"
	class="material"
	[rows]="orders"
	[columnMode]="ColumnMode.force"
	[headerHeight]="50"
	[footerHeight]="50"
	rowHeight="auto"
	[limit]="10"
	[selected]="selected"
	[selectionType]="SelectionType.checkbox"
	[selectAllRowsOnPage]="true"
	[displayCheck]="displayCheck"
	(activate)="onActivate($event)"
	(select)="onSelect($event)"
	>
	<ngx-datatable-column
	[width]="30"
	[sortable]="false"
	[canAutoResize]="false"
	[draggable]="false"
	[resizeable]="false"
	[headerCheckboxable]="true"
	[checkboxable]="true"
  ></ngx-datatable-column>
	<ngx-datatable-column name="Order" prop="OrderId" ></ngx-datatable-column>
	<!-- <ngx-datatable-column name="Item ID" prop="OrderItemId"></ngx-datatable-column> -->
	<ngx-datatable-column name="Order Date" prop="CreatedAt"></ngx-datatable-column>
	<ngx-datatable-column name="Item Price" prop="ItemPrice" [width]="70"></ngx-datatable-column>
	<ngx-datatable-column name="SKU" prop="Sku" [width]="120"></ngx-datatable-column>
	<ngx-datatable-column name="Tracking ID" prop="TrackingCode"[width]="160"></ngx-datatable-column>
	<ngx-datatable-column name="Status" prop="Status"[width]="70"></ngx-datatable-column>
	<ngx-datatable-column name="Shipping Type" prop="ShippingType"></ngx-datatable-column>
	<ngx-datatable-column name="Warehouse Status" prop="WarehouseStatus"></ngx-datatable-column>
	<ngx-datatable-column name="Shop ID" prop="ShopId" [width]="170"></ngx-datatable-column>


	</ngx-datatable>

  <div class="selected-column">
	<h4>
	  Selections <small>({{ selected?.length }})</small>
	</h4>
	<ul>
	  <li *ngFor="let sel of selected">
		{{ sel.OrderId }}
	  </li>
	  <li *ngIf="!selected?.length">No Selections</li>
	</ul>
  </div>
</div>

  
  <p>You selected: {{Fulfillment}}</p>



	




