<app-navbar></app-navbar>
<div style="margin: 20px; border-radius: 10px;display:inline-flex;flex-wrap: wrap;width: 100%;">
        <form style="width: 75%;" #f="ngForm" (ngSubmit)="insertTracking(f)">
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Enter Received Tracking</mat-label>
          <input ngModel name="tracking" matInput #message placeholder="Paste Tracking here">
          <mat-hint ><strong>Press Enter After Inserting Tracking</strong></mat-hint>
        </mat-form-field>
    </form>

    <mat-form-field style="width: 18%;margin-left: 15px;"appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input [(ngModel)]="filterstartdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [(ngModel)]="filterenddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>


</div>

<button (click)="AddReturnStock()" style="margin:20px" mat-raised-button color="primary" [disabled]="!selLength">Add Selected to Grouped Stock</button>

<mat-divider></mat-divider>
<div style="margin:20px">
<ngx-datatable
        class="material"
        [rows]="returnorderarray"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [selected]="selected"
        [selectionType]="SelectionType.checkbox"
        [selectAllRowsOnPage]="true"
        (select)="onSelect($event)"
      >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
        ></ngx-datatable-column>

      <ngx-datatable-column [width]="10" name="S.No">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{returnorderarray.length-rowIndex}}</strong>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date" prop="Date" >
        <ng-template let-row="row" let-date="value" ngx-datatable-cell-template>
            {{date | date:'d MMM y h:mm a'}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Order no." prop="OrderId" ></ngx-datatable-column>
      <ngx-datatable-column name="Tracking no." prop="_id" ></ngx-datatable-column>
      <ngx-datatable-column name="Shop Id" prop="ShopId" ></ngx-datatable-column>
      <ngx-datatable-column name="User" prop="Username" ></ngx-datatable-column>
      </ngx-datatable>
</div>