
    <!-- <app-navbar></app-navbar>
    <div class="container full-height">
        <div class="row flex center v-center full-height">
            <div class="col-8 col-sm-4">
                <div class="form-box">
                    <form #f="ngForm" (ngSubmit)="signin(f.value)">
                        <fieldset>
                            <legend>Sign in</legend><img src="../../assets/img/avatar.png" id="avatar" class="avatar round">
                            <input class="form-control" ngModel type="text" id="username" name="userid" placeholder="username">
                            <input class="form-control" ngModel type="password" id="password" name="password" placeholder="password">
                                <button class="btn btn-primary btn-block" type="submit">LOGIN </button>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="body">
    <div class="login">
        <h1>Login</h1>
          <form #f="ngForm" (ngSubmit)="signin(f.value)" method="post">
            <input type="text" ngModel name="useremail" placeholder="Username" required="required" />
              <input type="password" ngModel name="password" placeholder="Password" required="required" />
              <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
          </form>
      </div>
    </div>




