<div class="container-fluid">
  <app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
          <!-- <input [(ngModel)]="filterstartdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [(ngModel)]="filterenddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)"> -->
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-2">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" class="btn btn-sm btn-light">Today</button>
              <button type="button" class="btn btn-sm btn-light active">Weekly</button>
              <button type="button" class="btn btn-sm btn-light">Monthly</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>
          <div>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueChart.series" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="revenueChart.labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions">
            </apx-chart>
          </div>
        </div>

        <div class="card-body border-top text-center">
          <div class="row">
            <div class="col-sm-4">
              <div class="d-inline-flex">
                <h5 class="mr-2">$12,253</h5>
                <div class="text-success">
                  <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                </div>
              </div>
              <p class="text-muted text-truncate mb-0">This month</p>
            </div>

            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i>
                  This Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0 mr-2">$ 34,254</h5>
                  <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i>2.1 %
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i>
                  Previous Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0">$ 32,695</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
          <!-- <input [(ngModel)]="filterstartdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [(ngModel)]="filterenddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)"> -->
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title mb-3">Stores</h4>
          <perfect-scrollbar style="height: 330px;">
          <div>
            <div class="text-center">
              <p class="mb-2">Total Profit</p>
              <h4>PKR 100,000</h4>
              <div class="text-success">
                <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
              </div>
            </div>

            <div class="table-responsive mt-4">
              
              <table class="table table-hover mb-0 table-centered table-nowrap">
                <tbody>
                  <tr>
                    <td>
                      <h5 class="font-size-14 mb-0">Store</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Orders/Items</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Sales</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Costs</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Profit</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5 class="font-size-12 mb-0">Accesology</h5>
                    </td>

                    <td>
                      <h5 class="font-size-14 mb-0">150/100</h5>
                    </td>
                    <td>
                      <div class="font-size-14 mb-0">PKR 50,000</div>
                    </td>
                    <td>
                      <p class="font-size-14 mb-0">PKR 25,000</p>
                    </td>
                    <td>
                      <p class="font-size-14 mb-0">PKR 25,000</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            
            </div>

          </div>
        </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" class="btn btn-sm btn-light">Today</button>
              <button type="button" class="btn btn-sm btn-light active">Weekly</button>
              <button type="button" class="btn btn-sm btn-light">Monthly</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>
          <div>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueChart.series" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="revenueChart.labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions">
            </apx-chart>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
          <!-- <input [(ngModel)]="filterstartdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [(ngModel)]="filterenddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)"> -->
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title mb-4">SKU Overview</h4>

          <perfect-scrollbar style="height: 330px;">
            <div>
              <div style="margin-left: auto;margin-right: auto;">
                <div class="row">
                 <div class="col-lg-3"> 
                  <p class="mb-2">Units</p>
                  <h4>100</h4>
                  </div>
                  <div class="col-lg-3">
                  <p class="mb-2">Costs</p>
                  <h4>PKR 100</h4>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-2">Profit</p>
                    <h4>PKR 100</h4>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-2">ROI</p>
                    <h4>10%</h4>
                  </div>
                </div>
                <div class="text-success">
                  <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                </div>
              </div>
  
              <div class="table-responsive mt-4">
                
                <table class="table table-hover mb-0 table-centered table-nowrap">
                  <tbody>
                    <tr>
                      <td>
                        <h5 class="font-size-14 mb-0">SKU</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Units</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Sales</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Cost</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Profit</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">ROI</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h5 class="font-size-12 mb-0">Tripod</h5>
                      </td>
  
                      <td>
                        <h5 class="font-size-14 mb-0">100</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR 10,000</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR 5,000</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR 5,000</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">25%</h5>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              
              </div>
  
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" class="btn btn-sm btn-light">Today</button>
              <button type="button" class="btn btn-sm btn-light active">Weekly</button>
              <button type="button" class="btn btn-sm btn-light">Monthly</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>
          <div>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueChart.series" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="revenueChart.labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions">
            </apx-chart>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end row -->
</div>
