<div class="container-fluid">
  <app-pagetitle title="Profitiblity of Delivered Orders" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker1" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-date-range-picker #picker1></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      
      <div class="row">
          <div *ngIf="overviewLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
      </div>

      <div class="row" *ngIf="!overviewLoading">
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Orders'" [value]="ProfitStats.orders | number" [icon]="'ri-stack-line'" [bottomContent]="'Total Orders: '+OrderAnalytics.orders"></app-stat>
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Items'" [value]="ProfitStats.items | number" [icon]="'ri-stack-line'" [bottomContent]="'Total Items: '+OrderAnalytics.items"></app-stat>
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Sales'" [value]="ProfitStats.sales | number" [icon]="'ri-stack-line'" [bottomContent]="'Total Sales: '+OrderAnalytics.revenue"></app-stat>
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Estimated Costs'" [value]="ProfitStats.costs | number" [icon]="'ri-stack-line'"></app-stat>
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Estimated Payout'" [value]="ProfitStats.payout | number" [icon]="'ri-stack-line'" [bottomContentExtra]="(ProfitStats.payout/ProfitStats.sales)*100 | number:'1.0-2'" [bottomContent]="'Payout of Sales %:'"></app-stat>
          <app-stat *ngIf="OrderAnalytics!=undefined" class="col-md-2" [title]="'Estimated Profit'" [value]="ProfitStats.profit | number" [icon]="'ri-stack-line'" [bottomContentExtra]="(ProfitStats.profit/ProfitStats.sales)*100 | number:'1.0-2'" [bottomContent]="'Profit %:'"></app-stat>
      </div>
      
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Orders === true}" (click)="GraphOptions.Total.Orders=!GraphOptions.Total.Orders; fetchGraph('total')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Items === true}" (click)="GraphOptions.Total.Items=!GraphOptions.Total.Items; fetchGraph('total')" class="btn btn-sm btn-light active">Items</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Revenue === true}" (click)="GraphOptions.Total.Revenue=!GraphOptions.Total.Revenue; fetchGraph('total')" class="btn btn-sm btn-light">Revenue</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Profit === true}" (click)="GraphOptions.Total.Profit=!GraphOptions.Total.Profit; fetchGraph('total')" class="btn btn-sm btn-light">Profit</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>

            <div *ngIf="overviewGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>


          <div *ngIf="!overviewGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="ProfitAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="ProfitAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>

        <div class="card-body border-top text-center">
          <div class="row">
            <!-- <div class="col-sm-4">
              <div class="d-inline-flex">
                <h5 class="mr-2">0</h5>
                <div class="text-success">
                  <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                </div>
              </div>
              <p class="text-muted text-truncate mb-0">This month</p>
            </div>

            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i>
                  This Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0 mr-2">0</h5>
                  <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i>2.1 %
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i>
                  Previous Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0">0</h5>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker2" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div *ngIf="storesLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
        <div class="card-body" *ngIf="!storesLoading">

          <h4 class="card-title mb-3">Stores</h4>
          <perfect-scrollbar style="height: 330px;">
          <div>
            <div class="text-center">
              <p class="mb-2">Total Profit</p>
              <h4>PKR {{ProfitStats.profit | number}}</h4>
              <!-- <div class="text-success">
                <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
              </div> -->
            </div>

            <div class="table-responsive mt-4">
              
              <table class="table table-hover mb-0 table-centered table-nowrap">
                <tbody>
                  <tr>
                    <td>
                      <h5 class="font-size-14 mb-0">Store</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Orders/Items</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Sales</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Payout</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Costs</h5>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Profit</h5>
                    </td>
                  </tr>
                  <tr *ngFor="let storeProfit of StoreProfitStats" (click)="StoreClick(storeProfit)" [ngClass]="{'selected':storeProfit._id===TotalStoreSkuProfitStats._id}" style="cursor: grabbing;">
                    <td>
                      <h5 class="font-size-12 mb-0">{{storeProfit._id}}</h5>
                    </td>

                    <td>
                      <h5 class="font-size-14 mb-0">{{storeProfit.orders}}/{{storeProfit.items}}</h5>
                    </td>
                    <td>
                      <div class="font-size-14 mb-0">PKR {{storeProfit.sales | number}}</div>
                    </td>
                    <td>
                      <div class="font-size-14 mb-0">PKR {{storeProfit.payout | number}}</div>
                    </td>
                    <td>
                      <p class="font-size-14 mb-0">PKR {{storeProfit.costs | number}}</p>
                    </td>
                    <td>
                      <p class="font-size-14 mb-0">PKR {{storeProfit.profit | number}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            
            </div>

          </div>
        </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Orders === true}" (click)="GraphOptions.Store.Orders=!GraphOptions.Store.Orders; fetchGraph('store')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Items === true}" (click)="GraphOptions.Store.Items=!GraphOptions.Store.Items; fetchGraph('store')" class="btn btn-sm btn-light active">Items</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Revenue === true}" (click)="GraphOptions.Store.Revenue=!GraphOptions.Store.Revenue; fetchGraph('store')" class="btn btn-sm btn-light">Revenue</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Profit === true}" (click)="GraphOptions.Store.Profit=!GraphOptions.Store.Profit; fetchGraph('store')" class="btn btn-sm btn-light">Profit</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>
          <div *ngIf="storesGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

          <div *ngIf="!storesGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="StoreProfitAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="StoreProfitAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker3" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-date-range-picker #picker3></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div *ngIf="skuLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
        <div *ngIf="!skuLoading" class="card-body">

          <h4 class="card-title mb-4">SKU Overview</h4>

          <perfect-scrollbar style="height: 330px;">
            <div>
              <div style="margin-left: auto;margin-right: auto;">
                <div class="row">
                 <div class="col-lg-3"> 
                  <p class="mb-2">Units</p>
                  <h4>{{TotalStoreSkuProfitStats.items}}</h4>
                  </div>
                  <div class="col-lg-3">
                  <p class="mb-2">Costs</p>
                  <h4>PKR {{TotalStoreSkuProfitStats.costs | number}}</h4>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-2">Profit</p>
                    <h4>PKR {{TotalStoreSkuProfitStats.profit | number}}</h4>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-2">ROI</p>
                    <h4 *ngIf="TotalStoreSkuProfitStats.costs!=0">{{getRoi(TotalStoreSkuProfitStats.profit,TotalStoreSkuProfitStats.costs) | number:'1.0-2'}} %</h4>
                    <h4 *ngIf="TotalStoreSkuProfitStats.costs==0">∞</h4>
                  </div>
                </div>
                <!-- <div class="text-success">
                  <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                </div> -->
              </div>
  
              <div class="table-responsive mt-4">
                
                <table class="table table-hover mb-0 table-centered table-nowrap">
                  <tbody>
                    <tr>
                      <td>
                        <h5 class="font-size-14 mb-0">SKU</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Units</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Sales</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Payout</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Cost</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">Profit</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">ROI</h5>
                      </td>
                    </tr>
                    <tr *ngFor="let sku of StoreSkuProfitStats" (click)="SkuClick(sku._id)" [ngClass]="{'selected':sku._id===SelectedSku}" style="cursor: grabbing;">
                      <td>
                        <h5 class="font-size-12 mb-0">{{sku._id}}</h5>
                      </td>
  
                      <td>
                        <h5 class="font-size-14 mb-0">{{sku.items}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR {{sku.sales | number}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR {{sku.payout | number}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR {{sku.costs | number}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">PKR {{sku.profit | number}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0" *ngIf="sku.costs!=0 && sku.profit!=0">{{getRoi(sku.profit,sku.costs) | number:'1.0-2'}} %</h5>
                        <h5 class="font-size-14 mb-0" *ngIf="sku.costs==0 || sku.profit==0">∞</h5>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              
              </div>
  
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Orders === true}" (click)="GraphOptions.Sku.Orders=!GraphOptions.Sku.Orders; fetchGraph('sku')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Items === true}" (click)="GraphOptions.Sku.Items=!GraphOptions.Sku.Items; fetchGraph('sku')" class="btn btn-sm btn-light">Items</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Revenue === true}" (click)="GraphOptions.Sku.Revenue=!GraphOptions.Sku.Revenue; fetchGraph('sku')" class="btn btn-sm btn-light">Revenue</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Profit === true}" (click)="GraphOptions.Sku.Profit=!GraphOptions.Sku.Profit; fetchGraph('sku')" class="btn btn-sm btn-light">Profit</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Revenue Analytics</h4>

          <div *ngIf="skuGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

          <div *ngIf="!skuGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="SkuProfitAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="SkuProfitAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end row -->
</div>
