<!-- <app-navbar></app-navbar> -->

<div class="container-fluid" style="max-width: 1700px;padding-left: 50px;padding-right: 50px;">
  <app-pagetitle class="col-lg-12" title="Profile" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<mat-tab-group (selectedTabChange)="matTabChanged($event)" animationDuration="10ms">

    <mat-tab label="Password">
        <div>
            <div class="row" style="max-width:95%;">
              <h4 class="col-lg-12">Change Password</h4>
            </div>

            <form #f="ngForm" (ngSubmit)="submit(f)" class="row" style="max-width:95%;">
              <div class="col-lg-12">
              <mat-form-field class="col-lg-3" style="margin-top:20px" appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input ngModel name="oldPassword" type="password" matInput placeholder="Current Password">
              </mat-form-field>
              </div>
            <div class="col-lg-12">
            <mat-form-field class="col-lg-3" style="margin-top:20px" appearance="outline">
                <mat-label>New Password</mat-label>
                <input ngModel name="newPassword" type="password" matInput placeholder="New Password">
              </mat-form-field>
            </div>
            <div class="col-lg-12">
            <mat-form-field class="col-lg-3" style="margin-top:20px" appearance="outline">
                <mat-label>Retype New Password</mat-label>
                <input ngModel name="reNewPassword" type="password" matInput placeholder="Retype New Password">
              </mat-form-field>
            </div>
            <div class="col-lg-12">
            <button mat-raised-button color="primary" class="col-lg-3">Change Password</button>
            </div>
            </form>

        </div>
    </mat-tab>
    <mat-tab *ngIf="LoggedUser.accountType=='root'" label="Sub Accounts">
      
      <div style="margin: 2%;">
        <div class="row">
        <button (click)="CreateSubAccount()" class="col-lg-2" mat-raised-button color="primary">Create Sub Account</button>
        <h6 class="col-lg-6">Note: Default Password for subaccount is "password.123"</h6>
        </div>
        <div class="row">
        <ngx-datatable
        class="material col-lg-12"
        [rows]="subaccounts"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="25"
        [loadingIndicator]="loadingIndicator"
        >
        <ngx-datatable-column name="User Login Email" prop="loginemail"></ngx-datatable-column>
        <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
        <ngx-datatable-column name="Manage Permissions" >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <!-- <button mat-raised-button color="primary" (click)="editSubAccount(row)">Manage</button> -->
              <a (click)="editSubAccount(row)" style="cursor: pointer;" class="mx-1 text-primary" placement="top" ngbTooltip="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
    
              <a (click)="deleteSubAccount(row)" style="cursor: pointer;" class="mx-1 text-danger" placement="top" ngbTooltip="Delete"><i
                class="mdi mdi-trash-can font-size-18"></i></a>

          </ng-template>
        </ngx-datatable-column>
        
        
        </ngx-datatable>
      </div>
      </div>

    </mat-tab>
    <!-- <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab> -->
  </mat-tab-group>
</div>