<button #printButton printSectionId="pdfLabels" [useExistingCss]="true" ngxPrint>print</button>

<div class="la-print-page" id="pdfLabels">
<div *ngFor="let order of orders;let orderindex=index">
<div class="invoice" *ngFor="let tracking of getTrackings(order);let trackingindex=index">
<div class="awb-page" *ngIf="order.OrderItems.length>0">
    <div class="awb lex">
    <div class="box left" style="width:35%; height:0.8cm; border-right: 0; border-bottom: 0;"></div>
    
    <div class="box left" style="padding: 0;font-size: 11px;width: 35%;line-height: 0.3cm;height: 0.8cm;font-weight: bold;border-right: 0;border-bottom: 0;">
    <div style="line-height: 15px;line-height: .35cm;"><span style="text-align: left;font-size: 5px;font-weight: 800;line-height: .1cm;">Order Number</span> <span style="display:block;font-weight: normal;">{{order.OrderId}}</span></div>
    </div>
    
    <div class="box left" style="text-align: center;font-size:12px; width:30%; line-height:14px; height:0.8cm; padding-top: 7px; border-bottom: 0;">{{adjustedDate(order.CreatedAt) | date:'dd MMM yyy'}}</div>
    
    <div class="box clear" style="width:100%;border-bottom: 0; padding-bottom: 10px;">
    <div class="barcode" style="height: 3.1cm; margin-bottom: 0.1cm"><img src={{getLabelTrackingBarcode(tracking,order.OrderItems)}} /></div>
    
    <div style="font-size:12px; line-height:11px;">Tracking Number:  {{getLabelProperty(tracking,order.OrderItems,"labelTracking")}} </div>
    </div>
    
    <div class="box left" style="width:75%; border-bottom: 0; padding-bottom: 10px; height: 3.9cm; border-right: 0;">
    <div class="barcode" style="height: 3.1cm; margin-bottom: 0.1cm">
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-DEX'" src="../../assets/img/PK-DEX.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-LCS'" src="../../assets/img/PK-LCS.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='PK-LMP'" src="../../assets/img/PK-LMP.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-M&P'" src="../../assets/img/PK-MnP.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-CALLCOURIER'" src="../../assets/img/PK-CALLCOURIER.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-TCS'" src="../../assets/img/PK-TCS.jpg" />
        <img *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-RIDER-API'" src="../../assets/img/PK-RIDER.jpg" />
        <h6 
        *ngIf="order.OrderItems[0].ShipmentProvider=='Delivery: PK-MOVEX' || 
        order.OrderItems[0].ShipmentProvider=='Delivery: PK-BlueEx' || 
        order.OrderItems[0].ShipmentProvider=='Delivery: PK-TRAX'" style="margin-top:50px" >

        <strong>DARAZ</strong>
        
        </h6>
    </div>
    
    <div style="font-size:18px; line-height:24px; font-weight: 700;">Port Code:&nbsp;{{getLabelProperty(tracking,order.OrderItems,"PortCode")}}</div>
    </div>
    
    <div class="box left" style="padding: 0; font-size:8px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;">O:</div>
    
    <div class="box left" style="padding: 0; font-size:8px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;"><span style="font-size:9px;">-&nbsp;</span></div>
    
    <div class="box left" style="padding: 0; font-size:8px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;"><span style="font-size:9px;">-</span></div>
    
    <div class="box left" style="padding: 0; font-size:10px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;">
    <strong>{{getLabelProperty(tracking,order.OrderItems,"deliveryPoint")}}</strong>
    </div>
    
    <div class="box left" style="padding: 0; font-size:10px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;"><div *ngIf="order.PaymentMethod=='COD'">{{order.PaymentMethod}}</div><div *ngIf="order.PaymentMethod!='COD'">NON COD</div></div>
    
    <div class="box left" style="padding: 0; font-size:10px; line-height:0.5cm; width:25%; height:0.65cm; font-weight: bold; border-bottom: 0;"><div *ngIf="order.PaymentMethod=='COD'">PKR {{getLabelProperty(tracking,order.OrderItems,"labelPrice")}}</div><div *ngIf="order.PaymentMethod!='COD'">0</div></div>
    
    <div class="box clear" style="width:100%; border-bottom: 0; padding-bottom: 10px">
    <!-- <div class="barcode" style="height: 0.2cm; margin-bottom: 0.1cm"><img src={{order.OrderItems[0].orderIdBarcode}} /></div> -->
    <div class="barcode" style="height: 0.2cm; margin-bottom: 0.1cm"></div>
    
    <div style="font-size:12px; line-height:11px;">Order Number:  {{order.OrderId}} </div>
    </div>

    
    <div class="box left qrcode" style="width:35%; padding-bottom: 10px; height: 5cm; border-right: 0;"><img src={{order.OrderItems[0].qrCode}} /></div>
    
    <div class="box left text-left" style="width:65%; font-size:10px; border-bottom: 0; padding: 5px; height: 2.1cm;"><strong>Recipient</strong>: {{order.AddressShipping.FirstName}} {{order.AddressShipping.LastName}} <br> {{order.AddressShipping.Address1}} {{order.AddressShipping.Address2}} {{order.AddressShipping.Address3}} {{order.AddressShipping.Address4}} {{order.AddressShipping.Address5}}, {{order.AddressShipping.Country}}<br>Phone {{order.AddressShipping.Phone}}</div>
    
    <div class="box left text-left" style="font-size:9px; width:65%; padding: 5px; height: 1.5cm; border-bottom: 0;"><strong>Sender:&nbsp;</strong>{{order.ShopName}}<br>{{order.ShopAddress}}, {{order.ShopState}}, {{order.ShopArea}}, {{order.ShopLocation}} - Phone: {{order.ShopPhone}}</div>
    
    <!-- <div class="box left text-left" style="height: 1.6cm; font-size:10px; width:48%; padding: 5px; border-right: 0;"><strong>Package Weight:</strong> total_package_weight</div> -->
    <div class="box left text-left" style="display: flex; flex-wrap:wrap; flex-direction: column; height: 1.4cm; font-size:10px; width:48%; padding: 5px; border-right: 0;">
        <div *ngFor="let items of getLabelSkus(tracking,order.OrderItems)"><b>[ {{items}} ]</b></div>
    </div>

    <div class="box left text-left" style="height: 1.4cm; font-size:18px; padding: 8px 5px; width: 17%; text-align: center;">{{getLabelItemCount(tracking,order.OrderItems)}}</div>
    <!-- <div class="box left text-left" style="width:100%; border-bottom: 50; height: 20px;">
        <b *ngFor="let items of order.OrderItems;let i=index">| {{i+1}}) {{items.BaseSku}} </b>
    </div> -->
    </div>
    </div>
    <!-- <div style="font-size: 12px;">Order {{pageIndex+1}} Of {{labelsCount}} {{increaseIndex()}}</div> -->
    <!-- <p>Page 1 of </p>  -->
    </div>
    <!-- <br> -->
    </div>

</div>
