<div class="centre">
    <h4>Add Sub Account</h4>
</div>
<mat-divider></mat-divider>
<div style="display:flex;flex-wrap: wrap;margin-top:20px">

    <mat-form-field appearance="fill" style="width: 48%;">
        <mat-label>Sub Account Email</mat-label>
        <input [readonly]="isEdit" [(ngModel)]="User.loginemail" matInput placeholder="example@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left:10px;width: 50%;">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="User.username" matInput placeholder="John">
    </mat-form-field>

</div>
<mat-divider></mat-divider>
<div style="display: flex;flex-direction: column;">
    <h6>Permissions:</h6>
    <mat-checkbox [(ngModel)]="User.Orders" color="primary">Orders</mat-checkbox>
    <mat-checkbox [(ngModel)]="User.ReturnsDispatch" color="primary">Returns/Dispatch</mat-checkbox>
    <mat-checkbox [(ngModel)]="User.Finance" color="primary">Finance</mat-checkbox>
    <mat-checkbox [(ngModel)]="User.DSCInventory" color="primary">DSC Inventory</mat-checkbox>
    <mat-checkbox [(ngModel)]="User.GroupedInventory" color="primary">Grouped Inventory</mat-checkbox>
    <mat-checkbox [(ngModel)]="User.Profitibility" color="primary">Profitibility</mat-checkbox>
</div>
<mat-divider></mat-divider>

<div style="flex-direction: column;align-items: center;display: flex;margin-top:15px" >
<button id="buttonSubmit" mat-raised-button color="primary" style="width: 160px;" (click)="submitDetails()">Create Sub Account</button>
<button [hidden]="!isEdit" mat-raised-button color="primary" style="width: 160px;margin-top: 15px;" (click)="deleteAccount()">Delete Account</button>
<button [hidden]="!isEdit" mat-raised-button color="primary" style="width: 160px;margin-top: 15px;" (click)="resetPassword()">Reset Password</button>
</div>
