<div class="container-fluid">
  <app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker1" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-date-range-picker #picker1></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <div *ngIf="overviewStatusLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
      <div *ngIf="!overviewStatusLoading" class="row">
        <!-- <div *ngFor="let stat of statData;let i=index" class="col-md-3">
          <app-stat  [title]="stat.title" [value]="StatusCount[i].count.OrderCount | number" [extraValue]="StatusCount[i].count.ItemCount | number" [icon]="stat.icon"></app-stat>
        </div> -->
          <app-stat class="col-md-3" [title]="'Pending'" [value]="StatusCount[0].count.OrderCount | number" [extraValue]="StatusCount[0].count.ItemCount | number" [icon]="'ri-stack-line'" [bottomContent]="'Orders/Items'"></app-stat>
          <app-stat class="col-md-3" [title]="'RTS'" [value]="StatusCount[1].count.OrderCount | number" [extraValue]="StatusCount[1].count.ItemCount | number" [icon]="'ri-stack-line'" [bottomContent]="'Orders/Items'"></app-stat>
          <app-stat class="col-md-3" [title]="'Shipped'" [value]="StatusCount[2].count.OrderCount | number" [extraValue]="StatusCount[2].count.ItemCount | number" [icon]="'ri-stack-line'" [bottomContent]="'Orders/Items'"></app-stat>
          <app-stat class="col-md-3" [title]="'Delivered'" [value]="StatusCount[3].count.OrderCount | number" [extraValue]="StatusCount[3].count.ItemCount | number" [icon]="'ri-stack-line'" [bottomContent]="'Orders/Items'"></app-stat>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Orders === true}" (click)="GraphOptions.Total.Orders=!GraphOptions.Total.Orders; fetchGraph('total')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Total.Items === true}" (click)="GraphOptions.Total.Items=!GraphOptions.Total.Items; fetchGraph('total')" class="btn btn-sm btn-light">Items</button>
              <button *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" type="button" [ngClass]="{'active': GraphOptions.Total.Revenue === true}" (click)="GraphOptions.Total.Revenue=!GraphOptions.Total.Revenue; fetchGraph('total')" class="btn btn-sm btn-light">Revenue</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Total Revenue Analytics</h4>
          <div *ngIf="overviewGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

          <div *ngIf="!overviewGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="OrderAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="OrderAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>

        <div class="card-body border-top text-center">
          <div class="row">
            <!-- <div class="col-sm-4">
              <div class="d-inline-flex">
                <h5 class="mr-2">0</h5>
                <div class="text-success">
                  <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                </div>
              </div>
              <p class="text-muted text-truncate mb-0">This month</p>
            </div>

            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i>
                  This Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0 mr-2">0</h5>
                  <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i>2.1 %
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mt-4 mt-sm-0">
                <p class="mb-2 text-muted text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i>
                  Previous Year :</p>
                <div class="d-inline-flex">
                  <h5 class="mb-0">0</h5>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div *ngIf="overviewAnalyticsLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
        <div *ngIf="!overviewAnalyticsLoading" class="card-body">
          <div class="float-right">
            <!-- <select class="custom-select custom-select-sm">
              <option selected>Apr</option>
              <option value="1">Mar</option>
              <option value="2">Feb</option>
              <option value="3">Jan</option>
            </select> -->
          </div>

          <h4 class="card-title mb-4">Sales Analytics</h4>
          <app-stat title="Orders" [value]="OrderAnalytics.orders | number"></app-stat>
          <app-stat title="Items" [value]="OrderAnalytics.items | number"></app-stat>
          <app-stat *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" title="Revenue" [value]="OrderAnalytics.revenue | number"></app-stat>
        </div>
      </div>


    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker2" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div *ngIf="storesLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

        <div *ngIf="!storesLoading" class="card-body">

          <h4 class="card-title mb-3">Stores</h4>
          <perfect-scrollbar style="height: 330px;"  [config]="{useBothWheelAxes:true,suppressScrollX:false,suppressScrollY:false}" #storeScroll >
          <div>
            <div class="text-center">
              <p class="mb-2">Total Orders</p>
              <h4>{{OrderAnalytics.orders | number}}</h4>
              <div class="text-success">
                <!-- <i class="mdi mdi-menu-up font-size-14"> </i>2.2 % -->
              </div>
            </div>

            <div class="table-responsive mt-4">
              
              <table class="table table-hover mb-0 table-centered table-nowrap" matSort (matSortChange)="sortStores($event)">
                <tbody>
                  <tr>
                    <th mat-sort-header="stores">
                      <h5 class="font-size-14 mb-0">Stores</h5>
                    </th>
                    <th mat-sort-header="orders">
                      <h5 class="font-size-14 mb-0">Orders/Items</h5>
                    </th>
                    <th *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" mat-sort-header="sales">
                      <h5 class="font-size-14 mb-0">Sales</h5>
                    </th>
                  </tr>

                  <tr *ngFor="let detail of SortedStoreDetails" (click)="StoreClick(detail.shopShortCode)" [ngClass]="{'selected':detail.shopShortCode===SelectedStore}" style="cursor: grabbing;">
                    <td>
                      <h5 class="font-size-14 mb-0">{{detail.store}}</h5>
                    </td>

                    <td>
                      <h5 class="font-size-14 mb-0">{{detail.orders}}/{{detail.items}}</h5>
                    </td>
                    <td *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value">
                      <h5 class="font-size-14 mb-0">{{detail.revenue | number}} Rs</h5>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            
            </div>

          </div>
        </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Orders === true}" (click)="GraphOptions.Store.Orders=!GraphOptions.Store.Orders; fetchGraph('store')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Store.Items === true}" (click)="GraphOptions.Store.Items=!GraphOptions.Store.Items; fetchGraph('store')" class="btn btn-sm btn-light">Items</button>
              <button *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" type="button" [ngClass]="{'active': GraphOptions.Store.Revenue === true}" (click)="GraphOptions.Store.Revenue=!GraphOptions.Store.Revenue; fetchGraph('store')" class="btn btn-sm btn-light">Revenue</button>
            </div>
          </div>
          <h4 class="card-title mb-4">Store Revenue Analytics</h4>
          <div *ngIf="storesGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

          <div *ngIf="!storesGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="StoreAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="StoreAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">

      <mat-form-field> 
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker3" >
          <input [ngModel]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
          <input [ngModel]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-date-range-picker #picker3></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div *ngIf="skuLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>

        <div *ngIf="!skuLoading" class="card-body">

          <h4 class="card-title mb-4">SKU Overview</h4>
          <!-- <table class="table table-hover mb-0 table-centered table-nowrap" matSort (matSortChange)="sortSkus($event)">
            <tbody>
              <ng-template *ngIf="skuHeaderCheck" [ngTemplateOutlet]="skuHeader"></ng-template>
            </tbody>
          </table> -->
          <!-- <ng-template [ngTemplateOutlet]="skuHeader"></ng-template> -->

          <perfect-scrollbar style="height: 330px;" [scrollIndicators]="true" [config]="{useBothWheelAxes:true}"  (psScrollY)="checkScroll($event)" #skuScroll>
            <div id="first-table">
              <div style="margin-left: auto;margin-right: auto;">
                <div class="row">
                 <div class="col-lg-6"> 
                  <p class="mb-2">FBD</p>
                  <h4>{{SkuTotal.OwnWarehouse}} Units</h4>
                  </div>
                  <div class="col-lg-6">
                  <p class="mb-2">FBM</p>
                  <h4>{{SkuTotal.Dropshipping}} Units</h4>
                  </div>
                </div>
                <div class="text-success">
                  <!-- <i class="mdi mdi-menu-up font-size-14"> </i>2.2 % -->
                </div>
              </div>
  
              <div class="table-responsive mt-4">
                
                <table class="table table-hover mb-0 table-centered table-nowrap" matSort (matSortChange)="sortSkus($event)">
                  <tbody>
                  <ng-template #skuHeader>
                    <tr >
                      <th mat-sort-header="sku">
                        <h5 class="font-size-14 mb-0">SKU</h5>
                      </th>
                      <th mat-sort-header="orders">
                        <h5 class="font-size-14 mb-0">Orders/Items</h5>
                      </th>
                      <th mat-sort-header="OwnWarehouse">
                        <h5 class="font-size-14 mb-0">Fbd/Fbm</h5>
                      </th>
                      <th *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" mat-sort-header="revenue">
                        <h5 class="font-size-14 mb-0">Sales</h5>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template [ngTemplateOutlet]="skuHeader"></ng-template>
                    <tr *ngFor="let sku of SortedStoreSkuDetails " (click)="SkuClick(sku.sku)" [ngClass]="{'selected':sku.sku===SelectedSku}" style="cursor: grabbing;">
                      <td>
                        <h5 class="font-size-14 mb-0">{{sku.sku}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">{{sku.orders}}/{{sku.items}}</h5>
                      </td>
                      <td>
                        <h5 class="font-size-14 mb-0">
                          {{sku.OwnWarehouse}}<span class="font-size-14 mb-0" *ngIf="sku.OwnWarehouse==undefined">0</span>
                          /{{sku.Dropshipping}}<span class="font-size-14 mb-0" *ngIf="sku.Dropshipping==undefined">0</span></h5>
                      </td>
                      <td *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value">
                        <h5 class="font-size-14 mb-0">{{sku.revenue | number}} Rs</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              
              </div>
  
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Orders === true}" (click)="GraphOptions.Sku.Orders=!GraphOptions.Sku.Orders; fetchGraph('sku')" class="btn btn-sm btn-light">Orders</button>
              <button type="button" [ngClass]="{'active': GraphOptions.Sku.Items === true}" (click)="GraphOptions.Sku.Items=!GraphOptions.Sku.Items; fetchGraph('sku')" class="btn btn-sm btn-light">Items</button>
              <button *ngIf="permissions.hasOwnProperty('Profitibility') && permissions.Profitibility.value" type="button" [ngClass]="{'active': GraphOptions.Sku.Revenue === true}" (click)="GraphOptions.Sku.Revenue=!GraphOptions.Sku.Revenue; fetchGraph('sku')" class="btn btn-sm btn-light">Revenue</button>
            </div>
          </div>
          <h4 class="card-title mb-4">SKU Revenue Analytics</h4>
          <div *ngIf="skuGraphLoading" class="col-md-12 d-flex justify-content-center"><mat-spinner [diameter]="50" ></mat-spinner></div>
          <div *ngIf="!skuGraphLoading">
            <apx-chart dir="ltr" class="apex-charts" [series]="SkuAnalyticsGraph.Data" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="SkuAnalyticsGraph.Labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions" [yaxis]="revenueChart.yaxis">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- <script>
  window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script> -->
