
<app-navbar></app-navbar>

<div class="container full-height">
    <div class="row flex center v-center full-height">
        <div class="col-8 col-sm-4">
            <div class="form-box">
                <form #f="ngForm" (ngSubmit)="addids(f.value)">
                    <fieldset>
                        <input class="form-control" ngModel type="email" id="shopid" name="shopid" placeholder="email">
                        <input class="form-control" ngModel type="text" id="secretkey" name="secretkey" placeholder="secretkey">
                            <button class="btn btn-primary btn-block" type="submit">Add Id </button>
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
