<div class="home-btn d-none d-sm-block">
    <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
  </div>
  <div>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4">
          <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
            <div class="w-100">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <div>
                    <div class="text-center">
                      <div>
                        <!-- <a routerLink="" class="logo"><img src="assets/images/logo-dark.png" height="20" alt="logo"></a> -->
                      </div>
  
                      <h4  class="font-size-18 mt-4">Complete Your Registration</h4>
                    </div>
  
                    <div class="p-2 mt-5" *ngIf="isSubAccountInvite">
                      <form [formGroup]="registerForm" class="form-horizontal" #f="ngForm" (submit)="completeRegisteration()" >
  
                        <div class="form-group auth-form-group-custom mb-4">
                          <i class="ri-mail-line auti-custom-input-icon"></i>
                          <label for="loginEmail">Email</label>
                          <input disabled [class.is-invalid]="registerForm.get('loginEmail').invalid && registerForm.get('loginEmail').touched" 
                          type="email" formControlName="loginEmail" name="loginEmail" class="form-control" id="loginEmail" placeholder="Enter email" [email]="true">
                          <small class="text-danger" *ngIf="registerForm.get('loginEmail').errors?.required && registerForm.get('loginEmail').touched">Email is required</small>
    	                    <small class="text-danger" *ngIf="registerForm.get('loginEmail').errors?.pattern && registerForm.get('loginEmail').touched">Please provide a valid email address</small>
                        </div>
  
                        <div class="form-group auth-form-group-custom mb-4">
                          <i class="ri-user-2-line auti-custom-input-icon"></i>
                          <label for="username">Username</label>
                          <input [class.is-invalid]="registerForm.get('userName').invalid && registerForm.get('userName').touched" 
                          type="text" formControlName="userName" name="userName" class="form-control" id="username" placeholder="Enter username">
                          <small class="text-danger" *ngIf="registerForm.get('userName').errors?.required && registerForm.get('userName').touched">Username is required</small>
    	                    <small class="text-danger" *ngIf="registerForm.get('userName').errors?.pattern && registerForm.get('userName').touched">Please enter alphanumeric username</small>
                        </div>
  
                        <div class="form-group auth-form-group-custom mb-4">
                          <i class="ri-lock-2-line auti-custom-input-icon"></i>
                          <label for="userpassword">Password</label>
                          <input [class.is-invalid]="registerForm.get('userPassword').invalid && registerForm.get('userPassword').touched"
                          type="password" formControlName="userPassword" name="userPassword" class="form-control" id="userpassword" placeholder="Enter password">
                        </div>

                        
                        <div *ngIf="isError" class="alert alert-danger mb-4 mt-4" role="alert">
                            {{errorMsg}}
                        </div>

                        <div *ngIf="isSuccess" class="alert alert-success mb-4 mt-4" role="alert">
                          {{successMsg}}
                        </div>
  
                        <div class="text-center d-flex justify-content-center">
                          <mat-spinner *ngIf="loadingIndicator" diameter="30"></mat-spinner>
                          <button *ngIf="!loadingIndicator" class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                        </div>
  
                        <div class="mt-4 text-center">
                          <p class="mb-0">By registering you agree to the <a href="#" class="text-primary">Terms of
                              Use</a></p>
                        </div>
                      </form>

                    </div>
  
                    <div class="mt-5 text-center" *ngIf="isSubAccountInvite">
                      <p>Already have an account ? <a routerLink="/login" class="font-weight-medium text-primary">
                          Login</a> </p>
                    </div>
                    <div *ngIf="!isSubAccountInvite" class="alert alert-danger mb-4 mt-4" role="alert">
                        Incorrect or Expired Invite Link
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="authentication-bg">
            <div class="bg-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  