table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  /* @media print {
    .stockChecklist {
        margin: 0.5cm 0 0 0.5cm;
        height: 105mm;
        width: 148mm;
        zoom: 200%;
    }
} */