
<!-- <app-navbar></app-navbar> -->


<div class="container-fluid" style="max-width: 1700px;padding-left: 50px;padding-right: 50px;">
  <app-pagetitle class="col-lg-12" title="Shops" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<mat-divider class="col-lg-12 my-3"></mat-divider>

<div class="row">
<button (click)="addNewIdDialog()" mat-raised-button color="primary" class="col-lg-2">Add New ID</button>
</div>

<mat-divider class="col-lg-12 my-3"></mat-divider>

<div class="row">
<ngx-datatable
        class="material col-lg-12"
        [rows]="darazIds"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        (activate)="onActivate($event)"
      >
      <ngx-datatable-column [width]="10" name="S.No">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{rowIndex+1}}</strong>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shop Id" prop="shopid" ></ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template ngx-datatable-cell-template let-row="row">

          <a (click)="editShop(row)" style="cursor: pointer;" class="mx-1 text-primary" placement="top" ngbTooltip="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>

          <a (click)="deleteShop(row)" style="cursor: pointer;" class="mx-1 text-danger" placement="top" ngbTooltip="Delete"><i
            class="mdi mdi-trash-can font-size-18"></i></a>

          
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
</div>

</div>

