.divider{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 150px;
    margin-left:150px
}

table{
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);
  }
  .inner {
    padding: 12px;
  }
