<!-- <app-navbar></app-navbar> -->
<div *ngIf="loadingIndicator" class="row d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>

<div *ngIf="!loadingIndicator" class="container-fluid" style="max-width: 1700px;padding-left: 50px;padding-right: 50px;">
    <div class="row">
        <app-pagetitle class="col-lg-12" title="Statements" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    </div>
    <div class="row">

    <mat-form-field appearance="outline" class="col-lg-2">
        <mat-label>Filter Statement</mat-label>
        <mat-select [(ngModel)]="Statement" (selectionChange)="statementSelected($event)">
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let statement of StatementArray" [value]="statement._id">{{statement._id}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-2">
        <mat-label>Filter Shop</mat-label>
        <mat-select [(ngModel)]="Shop" (selectionChange)="shopSelected($event)">
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let shop of StoreArray" [value]="shop._id">{{shop._id}}</mat-option>
        </mat-select>
    </mat-form-field>

    </div>

<div class="row mat-elevation-z5" style="border-radius: 20px;padding:50px;">
<table class="col-lg-12">
    <th>Orders</th>
    <tr>
        <td>Item Charges</td>
        <td>{{StatementObj.ItemPriceCredit.Amount | number}}</td>
    </tr>
    <tr>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <td>Other Credit</td>
            </mat-expansion-panel-header>
        
            <tr>
                <td>Shipping Fee (Paid By Customer)</td>
                <td>{{StatementObj.ShippingFeeCustomer.Amount-StatementObj.ShippingFeeCustomer.Vat | number}}</td>
            </tr>
        
          </mat-expansion-panel>
        <td>{{StatementObj.ShippingFeeCustomer.Amount-StatementObj.ShippingFeeCustomer.Vat | number}}</td>
    </tr>
    <tr>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <td>Daraz Fees</td>
            </mat-expansion-panel-header>
        
            <tr>
                <td>Comission</td>
                <td>{{StatementObj.Comission.Amount+StatementObj.Comission.Vat | number}}</td>
            </tr>
            <tr>
                <td>Payment Fee</td>
                <td>{{StatementObj.PaymentFee.Amount+StatementObj.PaymentFee.Vat | number}}</td>
            </tr>
            <tr>
                <td>Automatic Shipping Fee</td>
                <td>{{StatementObj.AutomaticShippingFee.Amount+StatementObj.AutomaticShippingFee.Vat | number}}</td>
            </tr>
            <tr>
                <td>Auto. Shipping fee subsidy (by Daraz)</td>
                <td>{{-StatementObj.AutomaticShippingFee.Amount-StatementObj.AutomaticShippingFee.Vat-StatementObj.ShippingFeeCustomer.Amount | number}}</td>
            </tr>
        
          </mat-expansion-panel>
        <!-- <td>{{StatementObj.Comission.Amount+StatementObj.Comission.Vat-StatementObj.ShippingFeeCustomer.Amount+StatementObj.ShippingFeeCustomer.Vat-StatementObj.PaymentFee.Amount+StatementObj.PaymentFee.Vat | number}}</td> -->
        <td>{{StatementObj.Comission.Amount+StatementObj.Comission.Vat-StatementObj.ShippingFeeCustomer.Amount+StatementObj.PaymentFee.Amount+StatementObj.PaymentFee.Vat | number}}</td>

    </tr>
    <tr>
        <td>VAT</td>
        <td>{{-StatementObj.Comission.Vat-StatementObj.AutomaticShippingFee.Vat-StatementObj.PaymentFee.Vat | number}}</td>
    </tr>
    <tr><mat-divider></mat-divider></tr>
    <tr>
        <td>Subtotal</td>
        <td>{{StatementObj.ItemPriceCredit.Amount+StatementObj.Comission.Amount+StatementObj.PaymentFee.Amount-StatementObj.AutomaticShippingFee.Vat | number}}</td>
    </tr>
    <tr><mat-divider></mat-divider></tr>
    <th>Refunds</th>
    <tr>
        <td>Item Charges</td>
        <td>{{StatementObj.ReversalItemPrice.Amount}}</td>
    </tr>
    <tr>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <td>Claims</td>
            </mat-expansion-panel-header>
        
            <tr>
                <td>Lost And Damaged Claim</td>
                <td>0</td>
            </tr>
        
          </mat-expansion-panel>
        <td>0</td>
    </tr>
    <tr>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <td>Daraz Fees</td>
            </mat-expansion-panel-header>
        
            <tr>
                <td>Reversal Commission</td>
                <td>{{StatementObj.ReversalComission.Amount-StatementObj.ReversalComission.Vat | number}}</td>
            </tr>
            <tr>
                <td>Payment Fee Credit</td>
                <td>{{-StatementObj.ReversalItemPrice.Amount*0.0125 | number:'1.1-2'}}</td>
            </tr>
        
          </mat-expansion-panel>
        <td>{{StatementObj.ReversalComission.Amount-StatementObj.ReversalComission.Vat+(-StatementObj.ReversalItemPrice.Amount*0.0125) | number:'1.1-2'}}</td>
    </tr>
    <tr>
        <td>Penalties</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Others</td>
        <td>{{StatementObj.OtherDebits.Amount+StatementObj.AdjustmentsOthers.Amount-StatementObj.AdjustmentsOthers.Vat | number}}</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>{{StatementObj.AdjustmentsOthers.Vat+StatementObj.ReversalComission.Vat+(-StatementObj.ReversalItemPrice.Amount*0.0125*0.115) | number:'1.1-2'}}</td>
    </tr>
    <tr><mat-divider></mat-divider></tr>
    <tr>
        <td>Subtotal</td>
        <td>{{StatementObj.ReversalItemPrice.Amount+
            StatementObj.ReversalComission.Amount+(-StatementObj.ReversalItemPrice.Amount*0.0125)+
            StatementObj.OtherDebits.Amount+StatementObj.AdjustmentsOthers.Amount | number:'1.1-2'}}</td>
    </tr>
    <tr><mat-divider></mat-divider></tr>
    <th>Other Services</th>
    <tr>
        <td>Subsidy</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Services</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Others</td>
        <td>0</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>0</td>
    </tr>
    <tr><mat-divider></mat-divider></tr>
    <th>Closing Balance</th>
    <tr>
        <td>Total Balance</td>
        <td>{{StatementObj.ItemPriceCredit.Amount+StatementObj.Comission.Amount+StatementObj.PaymentFee.Amount-StatementObj.AutomaticShippingFee.Vat+
            StatementObj.ReversalItemPrice.Amount+StatementObj.ReversalComission.Amount+(-StatementObj.ReversalItemPrice.Amount*0.0125)+StatementObj.OtherDebits.Amount+StatementObj.AdjustmentsOthers.Amount+
            0 | number:'1.1-2'}}</td>
    </tr>
    <tr><mat-divider style="margin-top:10px;margin-bottom:10px"></mat-divider></tr>
</table>
</div>
</div>

