<!-- <app-navbar></app-navbar> -->
<div class="container-fluid" style="max-width: 1700px;padding-left: 50px;padding-right: 50px;">
  <app-pagetitle title="Orders" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="row">
  
  <form #f="ngForm" (ngSubmit)="findOrder(f)">
  <div class="col-md-12">
  <div class="row">
  <mat-form-field class="col-md-6" appearance="outline">
    <mat-label>Order Id</mat-label>
    <input type="number" name="OrderId" ngModel matInput placeholder="Ex. 10110254789879">
  </mat-form-field>

  
  <mat-form-field class="col-md-6" appearance="outline">
    <mat-label>Tracking No</mat-label>
    <input name="Tracking" ngModel matInput placeholder="Ex. PK-DEX02132141">
  </mat-form-field>
  <button type="submit" style="display: none;"></button>
  </div>
  </div>
  </form>

  <mat-form-field  class="col-lg-2" appearance="outline">
    <mat-label>Select Store</mat-label>
    <mat-select [(ngModel)]="Store" (selectionChange)="StoreSelected($event)">
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let store of StoreArray" [value]="store._id">{{store._id}}</mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-2">
      <mat-label>Select Fulfillment</mat-label>
      <mat-select [(ngModel)]="Fulfillment" (selectionChange)="FulfillmentSelected($event)">
        <mat-option value="All">All</mat-option>
        <mat-option value="Dropshipping">FBM</mat-option>
        <mat-option value="Own Warehouse">FBD</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-2">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" >
        <input [(ngModel)]="startdate" matStartDate placeholder="Start date"(dateInput)="DateInput('start',$event)">
        <input [(ngModel)]="enddate" matEndDate placeholder="End date" (dateInput)="DateInput('end',$event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    <!-- <div style="margin-left: 10px; margin-top: 15px;">
      <mat-slide-toggle
          class="example-margin"
          color="primary"
          [checked]="skuSort"
          (change)=orderSort($event)>
        SKU Sorting
      </mat-slide-toggle>
    </div>

    <div style="margin-left: 10px; margin-top: 15px;">
      <mat-slide-toggle
          class="example-margin"
          color="primary"
          [checked]="shopSort"
          (change)=shopSorting($event)>
        Shop Sorting
      </mat-slide-toggle>
    </div> -->

	


    

</div>
<mat-divider class="topdivider"></mat-divider>

  <perfect-scrollbar [scrollIndicators]="true" style="width: 1500px" [config]="{useBothWheelAxes:true,suppressScrollX:false,suppressScrollY:true}">

  <mat-button-toggle-group name="fontStyle" [value]="StatusFilter" aria-label="Font Style">
    <mat-button-toggle value="All" (click)="StatusFilterClicked('All','All')">All Orders</mat-button-toggle>
    <mat-button-toggle value="pending" (click)="StatusFilterClicked('pending','Pending')">Pending</mat-button-toggle>
    <mat-button-toggle value="ready_to_ship" (click)="StatusFilterClicked('ready_to_ship','RTS')">RTS</mat-button-toggle>
    <mat-button-toggle value="RTSDispatched" (click)="StatusFilterClicked('RTSDispatched','RTS-Dispatched')">RTS-Dispatched</mat-button-toggle>
    <mat-button-toggle value="shipped" (click)="StatusFilterClicked('shipped','Shipped')">Shipped</mat-button-toggle>
    <mat-button-toggle value="delivered" (click)="StatusFilterClicked('delivered','Delivered')">Delivered</mat-button-toggle>
    <mat-button-toggle value="failed" (click)="StatusFilterClicked('failed','Failed')">Delivery Failed</mat-button-toggle>
    <mat-button-toggle value="returned" (click)="StatusFilterClicked('returned','Returned')">Returned</mat-button-toggle>
    <mat-button-toggle value="DeliveryFailedReceived" (click)="StatusFilterClicked('DeliveryFailedReceived','Delivery Failed-Received')">Delivery Failed-Received</mat-button-toggle>
    <mat-button-toggle value="Claimable" (click)="StatusFilterClicked('Claimable','Claimable')">Claimable</mat-button-toggle>
    <mat-button-toggle value="ClaimFiled" (click)="StatusFilterClicked('ClaimFiled','Claimable')">Claim Filed</mat-button-toggle>
    <mat-button-toggle value="ClaimReceived" (click)="StatusFilterClicked('ClaimReceived','Claimable')">Claim Received</mat-button-toggle>
    <mat-button-toggle value="canceled" (click)="StatusFilterClicked('canceled','Cancelled')">Cancelled</mat-button-toggle>
  </mat-button-toggle-group>

</perfect-scrollbar>

<mat-divider class="topdivider"></mat-divider>

<div>
<div class="row">
  <div class="col-lg-12">
  <div class="row">
  <button class="col-lg-2" style="margin-left: 20px;margin-right: 20px;" mat-stroked-button color="primary" [matMenuTriggerFor]="printMenu">Print</button>
  <mat-menu #printMenu="matMenu">
    <button *ngIf="selected.length>0" (click)="printLabels()"  mat-menu-item>Print Labels</button>
    <button *ngIf="selected.length>0" (click)="printStockChecklist('selected')"  mat-menu-item>Print Selected StockChecklist</button>
    <button *ngIf="!(selected.length>0)" (click)="printStockChecklist('')"  mat-menu-item>Print {{FormattedStatus}} StockChecklist</button>
  </mat-menu>

  <button [disabled]="!(selected.length>0)" class="col-lg-2" style="margin-left: 20px;margin-right: 20px;" mat-raised-button color="primary" [matMenuTriggerFor]="statusMenu">Set Warehouse Status</button>
  
  <mat-menu #statusMenu="matMenu">
    <button (click)="UpdateStatus('Dispatched')" mat-menu-item>Dispatched</button>
    <button (click)="UpdateStatus('Received')" mat-menu-item>Received</button>
    <button (click)="UpdateStatus('Reverse Dispatch')" mat-menu-item>Reverse Dispatch</button>
    <button [matMenuTriggerFor]="claimMenu" mat-menu-item>Claim</button>
  </mat-menu>

  <mat-menu #claimMenu="matMenu">
    <button (click)="UpdateStatus('Claim Filed')" mat-menu-item>Claim Filed</button>
    <button (click)="UpdateStatus('Claim Approved')" mat-menu-item>Claim Approved</button>
    <button (click)="UpdateStatus('Claim Rejected')" mat-menu-item>Claim Rejected</button>
    <button (click)="UpdateStatus('Claim POD Dispute')" mat-menu-item>Claim POD Dispute</button>
    <button (click)="UpdateStatus('Claim Received')" mat-menu-item>Claim Received</button>
  </mat-menu>

  <button [disabled]="!(selected.length>0)" class="col-lg-2" style="margin-left: 20px;margin-right: 20px;" mat-stroked-button color="primary" [matMenuTriggerFor]="darazStatusMenu">Set Daraz Status</button>
  <mat-menu #darazStatusMenu="matMenu">
    <button (click)="setStatusToRTS()"  mat-menu-item>Set to RTS</button>
  </mat-menu>

  <section class="col-lg-1">
    <mat-checkbox [disabled]="UnPrinted" color="primary" [(ngModel)]="Printed" (ngModelChange)="printCheckbox()" class="example-margin">Printed</mat-checkbox>
  </section>

  <section class="col-lg-1">
    <mat-checkbox [disabled]="Printed" color="primary" [(ngModel)]="UnPrinted" (ngModelChange)="printCheckbox()" class="example-margin">Un Printed</mat-checkbox>
  </section>
</div>
</div>
</div>
</div>
<mat-divider class="topdivider"></mat-divider>

<div class="datatable">
<ngx-datatable
#table
style="width:100%;"
[perfectScrollbar]="{useBothWheelAxes:true,suppressScrollX:false,suppressScrollY:true}"
class="material expandable"
[loadingIndicator]="loadingIndicator"
[rows]="orders"
[columnMode]="ColumnMode.force"
[headerHeight]="50"
[footerHeight]="50"
rowHeight="auto"
[selected]="selected"
[selectionType]="SelectionType.checkbox"
[selectAllRowsOnPage]="true"
(activate)="onActivate($event)"
(select)="onSelect($event)"
>

<!-- Row Detail Template -->
<ngx-datatable-row-detail [rowHeight]="650" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <mat-divider style="margin:10px;"></mat-divider>
      <perfect-scrollbar [scrollIndicators]="true" style="width: fit-content;height: 500px;" [config]="{useBothWheelAxes:true,suppressScrollX:false,suppressScrollY:false}">
      <div style="margin:40px;">
      <table>
        <!-- <colgroup>
          <col span="1" style="width: 15%;">
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 15%;">
       </colgroup> -->

        <tbody>
        <tr>
          <th>S.No</th>
          <th>Consignee</th>
          <th>Consignee Contact</th>
          <th>Seller SKU</th>
          <th>Product</th>
          <th>Tracking</th>
          <th>Price</th>
          <th>Shipping Type</th>
          <th>WarehouseStatus</th>
          <th>Dispatch Date</th>
          <th>Return Date</th>
          <th>Status</th>
          <th>Image</th>
          <th>RTS</th>
          <th *ngIf="LoggedUser.Profitibility">Product Cost</th>
          <th *ngIf="LoggedUser.Profitibility">Payout</th>
          <th *ngIf="LoggedUser.Profitibility">Profit</th>
        </tr>
        <tr *ngFor="let item of row.OrderItems; index as i">
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{i+1}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{row.AddressShipping.FirstName}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{row.AddressShipping.Phone}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.Sku}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.Name.substr(0,30)}}...</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.TrackingCode}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.ItemPrice}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">
            <div *ngIf="item.ShippingType=='Dropshipping'">FBM</div>
            <div *ngIf="item.ShippingType=='Own Warehouse'">FBD</div>
          </td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.WarehouseStatus}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.DispatchDate | date:'d MMM y h:mm a'}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.ReturnDate | date:'d MMM y h:mm a'}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">{{item.Status}}</td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">
            <img width="70px" height="70px" src={{item.productMainImage}}>
          </td>
          <td *ngIf="Fulfillment==item.ShippingType || Fulfillment=='All'">
            <button *ngIf="item.ShippingType=='Dropshipping' && item.Status=='pending'" mat-raised-button color="primary" (click)="setItemStatusToRTS(item)">RTS</button>
          </td>
          <td *ngIf="(Fulfillment==item.ShippingType || Fulfillment=='All') && LoggedUser.Profitibility==true">{{item.cost}}</td>
          <!-- <div data="getTransactions()"> -->
          <td *ngIf="(Fulfillment==item.ShippingType || Fulfillment=='All') && LoggedUser.Profitibility==true">{{getTransactions(item.Transactions)}}</td>
          <td *ngIf="(Fulfillment==item.ShippingType || Fulfillment=='All') && LoggedUser.Profitibility==true">{{getProfit(item.Transactions,item.cost,item.packagingCost)}}</td>
          <!-- </div> -->
        </tr>
      </tbody>
      </table>
    </div>
  </perfect-scrollbar>
    <mat-divider style="margin:10px;"></mat-divider>



    </ng-template>
  </ngx-datatable-row-detail>






<ngx-datatable-column
[width]="30"
[sortable]="false"
[canAutoResize]="false"
[draggable]="false"
[resizeable]="false"
[headerCheckboxable]="true"
[checkboxable]="true"
>

<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <div
      href="javascript:void(0)"
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)"
    >
    </div>
  </ng-template>

</ngx-datatable-column>
<ngx-datatable-column name="S.No" [minWidth]="5" [width]="5">
  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
    <div >{{pIndex*pSize+rowIndex+1}}</div>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [minWidth]="150" [width]="150" name="Order" prop="OrderId" ></ngx-datatable-column>
<!-- <ngx-datatable-column name="Item ID" prop="OrderItemId"></ngx-datatable-column> -->
<ngx-datatable-column [minWidth]="180" [width]="180" name="Order Date" prop="CreatedAt">
  <ng-template let-row="row" let-date="value" ngx-datatable-cell-template>
    {{adjustedDate(date) | date:'d MMM y h:mm a'}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [minWidth]="140" [width]="140" name="Payment Method" prop="PaymentMethod"></ngx-datatable-column>
<ngx-datatable-column [minWidth]="70" [width]="70" name="Price" prop="OrderItems">
  <ng-template let-row="row" let-orderitems="value" ngx-datatable-cell-template>
    {{getPrice(orderitems)}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [minWidth]="30" [width]="30" name="#" prop="OrderItems">
  <ng-template let-row="row" let-orderitems="value" ngx-datatable-cell-template>
    {{getItemsCount(orderitems)}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [minWidth]="90" [width]="90" name="Status" prop="OrderItems">
  <ng-template let-row="row" let-orderitems="value" ngx-datatable-cell-template>
    {{getOrderStatus(orderitems)}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Shop ID" prop="ShopId" [width]="170" [minWidth]="170"></ngx-datatable-column>
<ngx-datatable-column name="Printed?" prop="isPrinted" [width]="30" [minWidth]="30">
  <ng-template let-row="row" let-isPrinted="value" ngx-datatable-cell-template>
    <div *ngIf='isPrinted'>Yes</div>
    <div *ngIf='!isPrinted'>No</div>
  </ng-template>
</ngx-datatable-column>


</ngx-datatable>
</div>

<div class="paginator">
  <mat-paginator
  [length]="length"
  [pageSizeOptions]="[10, 20, 50, 100]"
  [pageIndex]="pIndex"
  [pageSize]="pSize"
  (page)="changePageData($event)">
  </mat-paginator>
</div>

</div>

<!-- <div class="selected-column">
	<h4>
	  Selections <small>({{ selected?.length }})</small>
	</h4>
	<ul>
	  <li *ngFor="let sel of selected">
		{{ sel.OrderId }}
	  </li>
	  <li *ngIf="!selected?.length">No Selections</li>
	</ul>
  </div> -->
