.datatable{
    margin-left:75px;
    margin-right: 75px;
    margin-top:50px;
}

.paginator{
    margin-left:75px;
    margin-right: 75px;
}

.secondnav{
    margin-left:75px;
    margin-right: 75px;
}

.topnavbar{
    margin-left:75px;
    margin-right: 75px;
    display: flex;
    flex-wrap: wrap;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.topdivider{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 75px;
    margin-left:75px
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    /* height: 60px; */
  }
  
  .example-margin {
    margin: 0 10px;
  }
