.datatable{
    margin-top:50px;
}

.topnavbar{
    display: flex;
    flex-wrap: wrap;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.topdivider{
    margin-top: 15px;
    margin-bottom: 15px;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .sidemargin{
    margin-left:75px;
    margin-right: 75px;
  }
  .rightspace{
    margin-right: 10px;
  }