
<div class="row">
    <h4 class="col-lg-12 d-flex justify-content-center">Add Shop</h4>
</div>
    <div class="row my-3 d-flex justify-content-center">

            <mat-form-field class="col-xl-5 mx-1" appearance="outline">
                <mat-label>Shop Email Id</mat-label>
                <input type="email" [(ngModel)]="shopId" matInput placeholder="Ex. example@gmail.com">
            </mat-form-field>


            <mat-form-field class="col-xl-5 mx-1" appearance="outline">
                <mat-label>Secret Key</mat-label>
                <input [(ngModel)]="secretKey" matInput placeholder="Ex. AxPJrQZdWmiMFsqQZdWmiMZdW">
            </mat-form-field>

    </div>
    <mat-divider class="my-3"></mat-divider>
    <h6 *ngIf="permissions?.customSellerAddress?.value">Required for Labels Printing(Go to Profile > General > Warehouse Address)</h6>
    <div class="row my-3 d-flex justify-content-center">

        <mat-form-field [ngClass]="permissions?.customSellerAddress?.value ? 'col-xl-5' : 'col-xl-10'" class="col-xl-5 mx-1" appearance="outline">
            <mat-label>Shop Name</mat-label>
            <input [(ngModel)]="shopName" matInput placeholder="Ex. Samsung">
        </mat-form-field>

        <mat-form-field *ngIf="permissions?.customSellerAddress?.value" class="col-xl-5 mx-1" appearance="outline">
            <mat-label>Shop Address</mat-label>
            <input [(ngModel)]="shopAddress" matInput placeholder="Ex. Office no 1234, Street no 1234">
        </mat-form-field>
    </div>
    <div *ngIf="permissions?.customSellerAddress?.value" class="row my-3 d-flex justify-content-center">
        <mat-form-field class="col-xl-5 mx-1" appearance="outline">
            <mat-label>Shop State</mat-label>
            <input [(ngModel)]="shopState" matInput placeholder="Ex. Sindh">
        </mat-form-field>

        <mat-form-field class="col-xl-5 mx-1"  appearance="outline">
            <mat-label>Shop Area</mat-label>
            <input [(ngModel)]="shopArea" matInput placeholder="Ex. Karachi-Saddar">
        </mat-form-field>
    </div>
    <div *ngIf="permissions?.customSellerAddress?.value" class="row my-3 d-flex justify-content-center">
        <mat-form-field class="col-xl-5 mx-1" appearance="outline">
            <mat-label>Shop Location</mat-label>
            <input [(ngModel)]="shopLocation" matInput placeholder="Ex. Saddar">
        </mat-form-field>

        <mat-form-field class="col-xl-5 mx-1"  appearance="outline">
            <mat-label>Shop Phone</mat-label>
            <input [(ngModel)]="shopPhone" matInput placeholder="Ex. 03001234567">
        </mat-form-field>
    </div>
    <div class="row my-3 d-flex justify-content-center">
        <button id="btnShop" mat-raised-button color="primary" (click)="shopAdd()">Add Shop</button>
    </div>
    <!-- <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop Name</mat-label>
        <input [(ngModel)]="shopName" matInput placeholder="Ex. Samsung">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop Address</mat-label>
        <input [(ngModel)]="shopAddress" matInput placeholder="Ex. Office no 1234, Street no 1234">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop State</mat-label>
        <input [(ngModel)]="shopState" matInput placeholder="Ex. Sindh">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop Area</mat-label>
        <input [(ngModel)]="shopArea" matInput placeholder="Ex. Karachi-Saddar">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop Location</mat-label>
        <input [(ngModel)]="shopLocation" matInput placeholder="Ex. Saddar">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Shop Phone</mat-label>
        <input [(ngModel)]="shopPhone" matInput placeholder="Ex. 03001234567">
    </mat-form-field>
    <br>
    <button id="btnShop" mat-raised-button color="primary" (click)="shopAdd()">Add Shop</button> -->


