/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/bootstrap/css/bootstrap.min.css";
@import "./assets/css/login-form.css";
@import "./assets/css/styles.css";
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./assets/css/Toastr.css";
@import "./assets/fonts/font-awesome.min.css";
@import "./assets/css/Dark-NavBar.css";



.cdk-global-overlay-wrapper, .cdk-overlay-container, .cdk-overlay-pane{ z-index: 9999!important; } 


.cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
  }

  @media screen {
    app-root app-print-labels { display: none; }
  }

 