<div class="container-fluid">
    <app-pagetitle title="Billing" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-4">Payment Wizard</h4>
      
                <aw-wizard [navBarLayout]="'large-empty-symbols'" >
                  <aw-wizard-step *ngIf="defaultStep==0" stepTitle="Subscription Overview">
                    <ng-template awWizardStepSymbol>
                      {{1-defaultStep}}
                    </ng-template>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">User Email</label>
                          <div class="col-md-9">
                            <input [ngModel]="userEmail" disabled class="form-control" name="email" type="text">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Subscription Type</label>
                          <div class="col-md-9">
                            <input [ngModel]="subscriptionType?.Name" class="form-control" disabled name="username" type="text">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Duration</label>
                          <mat-form-field class="col-md-9" appearance="outline">
                            <mat-label>Duration</mat-label>
                            <mat-select [(ngModel)]="subscriptionMonths">
                              <mat-option [value]="1">
                                1 Month
                              </mat-option>
                              <mat-option  [value]="3">
                                3 Months
                              </mat-option>
                              <mat-option  [value]="6">
                                6 Months
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Pricing</label>
                          <div class="col-md-9">
                            <input [ngModel]="subscriptionType?.Pricing" class="form-control" disabled name="password" type="text">
                          </div>
                        </div>
                        <div *ngIf="isUpgrade" class="row my-5">
                          <div class="col-md-12">
                            <mat-checkbox [(ngModel)]="isFutureRequest" color="primary"> Change My Plan When Current Plan Expires on 
                              <span class="text-danger">{{this.currentSubscription.endDate | date}}</span>
                            </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="next list-inline-item float-right"><button class="btn btn-primary" awNextStep>Next</button>
                      </li>
                    </ul>
                  </aw-wizard-step>
      
                  <aw-wizard-step stepTitle="Invoice">
                    <ng-template awWizardStepSymbol>
                      {{2-defaultStep}}
                    </ng-template>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Invoice Amount</label>
                          <div class="col-md-9">
                            <input disabled [ngModel]="subscriptionType?.Pricing*subscriptionMonths" class="form-control" type="text" placeholder="Invoice Amount">
                          </div>
                        </div>
                        <div class="row mb-3 text-center justify-content-center">
                          <h4>Please Pay Your Invoice Amount on Following Bank Details</h4>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Bank Name</label>
                          <div class="col-md-9">
                            <input disabled [ngModel]="bankDetail?.bankName" class="form-control" type="text" placeholder="Bank Name">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Account Title</label>
                          <div class="col-md-9">
                            <input disabled [ngModel]="bankDetail?.bankTitle" class="form-control" type="text" placeholder="Account Title">
                          </div>
                        </div>
                        <div class="form-group row mb-3">
                          <label class="col-md-3 col-form-label">Account Number</label>
                          <div class="col-md-9">
                            <input disabled [ngModel]="bankDetail?.bankAccount" class="form-control" type="text" placeholder="Account Number">
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li *ngIf="defaultStep==0" class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                      </li>
                      <li class="next list-inline-item float-right"><button class="btn btn-primary" awNextStep>Next</button>
                      </li>
                    </ul>
                  </aw-wizard-step>
      
                  <aw-wizard-step stepTitle="Transaction Details">
                    <ng-template awWizardStepSymbol>
                      {{3-defaultStep}}
                    </ng-template>
                    <div class="col-12">
                      <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">Transaction Id</label>
                        <div class="col-md-9">
                          <input [(ngModel)]="transactionId" class="form-control" type="text" placeholder="Transaction Id">
                          <div *ngIf="transactionId?.length==0 && btnSubmitClick"><small class="text-danger">*Transaction Id is required</small></div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">Screenshot</label>
                        <div class="col-md-9">
                          <!-- <input [(ngModel)]="transactionId" class="form-control" type="text" placeholder="Transaction Id"> -->
                          <ngx-dropzone accept="image/jpeg,image/jpg,image/png,image/gif" [multiple]="false" (change)="onSelect($event)">  
                            <ngx-dropzone-label>Drag and Drop to Upload Screenshot</ngx-dropzone-label>  
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">  
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>  
                            </ngx-dropzone-preview>  
                          </ngx-dropzone>
                          <div *ngIf="files?.length==0 && btnSubmitClick"><small class="text-danger">*Screenshot is required</small></div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-12">

                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                      </li>
                      <li (click)="submitBilling()" class="next list-inline-item float-right"><button class="btn btn-primary">Submit</button>
                      </li>
                    </ul>
                  </aw-wizard-step>
                </aw-wizard>
              </div>
            </div>
          </div>
    </div>
</div>

