mat-checkbox {
	::ng-deep .mat-checkbox-inner-container {
      width: 35px;
      height: 35px;
  	}
}

.table td{
    border-top: 0px;
}

.mat-raised-button {
    min-height: 50px;
    min-width: 150px;
    font-size: 18px;

 }